{% comment %} auth_modals.html {% endcomment %}
<aside class="modal fade" id="RegModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center">
                <form method="post" action="{% url 'storage_units:register' %}"
                    class="d-flex flex-column align-items-center" style="max-width: 420px">
                    {% csrf_token %}
                    <h1 class="modal-title text-center fw-bold mb-3">Регистрация</h1>
                    <input type="email" name="email" value="{{ registration_form.email.value|default_if_none:'' }}"
                        class="form-control border-8 mb-2 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                        placeholder="E-mail" required>
                    {{ registration_form.email.errors }}
                    <input type="text" name="first_name"
                        value="{{ registration_form.first_name.value|default_if_none:'' }}"
                        class="form-control border-8 mb-2 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                        placeholder="Имя" required>
                    {{ registration_form.first_name.errors }}
                    <input type="text" name="last_name"
                        value="{{ registration_form.last_name.value|default_if_none:'' }}"
                        class="form-control border-8 mb-2 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                        placeholder="Фамилия">
                    {{ registration_form.last_name.errors }}
                    <input type="password" name="password"
                        class="form-control border-8 mb-2 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                        placeholder="Пароль" required>
                    {{ registration_form.password.errors }}
                    <input type="password" name="password_confirm"
                        class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                        placeholder="Подтверждение пароля" required>
                    {{ registration_form.password_confirm.errors }}
                    <span class="fw-light SelfStorage_grey">Нажимая на кнопку, вы подтверждаете свое <a href="#"
                            class="SelfStorage_grey">согласие на обработку персональных данных</a></span>
                    <button type="submit"
                        class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Зарегистрироваться</button>
                    <span>Уже зарегистрированы? <a href="#" class="SelfStorage_orange" data-bs-toggle="modal"
                            data-bs-target="#SignModal" data-bs-dismiss="modal">Войти в личный кабинет</a></span>
                </form>
            </div>
        </div>
    </div>
</aside>

<aside class="modal fade" id="SignModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center">
                <form method="post" action="{% url 'storage_units:login' %}"
                    class="d-flex flex-column align-items-center" style="max-width: 420px;">
                    {% csrf_token %}
                    <h1 class="modal-title text-center fw-bold mb-3">Вход</h1>
                    {{ login_form.non_field_errors }}
                    <div class="w-100 mb-4">
                        {{ login_form.username.errors }}
                        <input type="text" name="{{ login_form.username.name }}"
                            class="form-control border-8 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                            placeholder="E-mail" required>
                    </div>
                    <div class="w-100 mb-4">
                        {{ login_form.password.errors }}
                        <input type="password" name="{{ login_form.password.name }}"
                            class="form-control border-8 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                            placeholder="Пароль" required>
                    </div>
                    <a href="#" class="SelfStorage_orange mb-4" data-bs-toggle="modal" data-bs-target="#ForgetModal"
                        data-bs-dismiss="modal">Забыли пароль?</a>
                    <button type="submit"
                        class="btn border-8 py-3 px-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Войти</button>
                    <span>Нет аккаунта? <a href="#" class="SelfStorage_orange" data-bs-toggle="modal"
                            data-bs-target="#RegModal" data-bs-dismiss="modal">Зарегистрируйтесь на сайте</a></span>
                </form>
            </div>
        </div>
    </div>
</aside>

<aside class="modal fade" id="ForgetModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center">
                <form method="post" action="{% url 'storage_units:simple_password_reset' %}"
                    class="d-flex flex-column align-items-center" style="max-width: 420px;">
                    {% csrf_token %}
                    <h1 class="modal-title text-center fw-bold mb-3">Восстановление пароля</h1>
                    {{ reset_form.non_field_errors }}
                    <div class="w-100 mb-4">
                        {{ reset_form.email.errors }}
                        <input type="email" name="email" value="{{ reset_form.email.value|default_if_none:'' }}"
                            class="form-control border-8 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                            placeholder="E-mail" required>
                    </div>
                    <div class="w-100 mb-4">
                        {{ reset_form.new_password.errors }}
                        <input type="password" name="new_password"
                            class="form-control border-8 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                            placeholder="Новый пароль" required>
                    </div>
                    <div class="w-100 mb-4">
                        {{ reset_form.confirm_password.errors }}
                        <input type="password" name="confirm_password"
                            class="form-control border-8 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                            placeholder="Подтверждение пароля" required>
                    </div>
                    <button type="submit"
                        class="btn border-8 py-3 px-5 mt-2 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Сменить
                        пароль</button>
                    <span>Вспомнили пароль? <a href="#" class="SelfStorage_orange" data-bs-toggle="modal"
                            data-bs-target="#SignModal" data-bs-dismiss="modal">Отмена</a></span>
                </form>
            </div>
        </div>
    </div>
</aside>