{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
</head>

<body>
    <div class="container mt-5" style="max-width: 500px;">
        <h1 class="text-center mb-4">Сброс пароля</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3">
                {{ form.email.errors }}
                <input type="email" name="email" placeholder="E-mail" value="{{ form.email.value|default_if_none:'' }}"
                    class="form-control border-8 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" required>
            </div>

            <div class="mb-3">
                {{ form.new_password.errors }}
                <input type="password" name="new_password" placeholder="Новый пароль"
                    class="form-control border-8 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" required>
            </div>

            <div class="mb-3">
                {{ form.confirm_password.errors }}
                <input type="password" name="confirm_password" placeholder="Подтверждение пароля"
                    class="form-control border-8 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" required>
            </div>

            <button type="submit"
                class="btn border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">
                Сменить пароль
            </button>
        </form>
    </div>
</body>

</html>